new/WebServiceServer/airport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TableAirport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AirportCode"/>
				<xs:element ref="CityOrAirportName"/>
				<xs:element ref="Country"/>
				<xs:element ref="CountryAbbrviation"/>
				<xs:element ref="CountryCode"/>
				<xs:element ref="GMTOffset"/>
				<xs:element ref="RunwayLengthFeet"/>
				<xs:element ref="RunwayElevationFeet"/>
				<xs:element ref="LatitudeDegree"/>
				<xs:element ref="LatitudeMinute"/>
				<xs:element ref="LatitudeSecond"/>
				<xs:element ref="LatitudeNpeerS"/>
				<xs:element ref="LongitudeDegree"/>
				<xs:element ref="LongitudeMinute"/>
				<xs:element ref="LongitudeSeconds"/>
				<xs:element ref="LongitudeEperW"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RunwayLengthFeet">
		
	</xs:element>
	<xs:element name="RunwayElevationFeet">
		
	</xs:element>
	<xs:element name="LongitudeSeconds">
		
	</xs:element>
	<xs:element name="LongitudeMinute">
		
	</xs:element>
	<xs:element name="LongitudeEperW">
		
	</xs:element>
	<xs:element name="LongitudeDegree">
		
	</xs:element>
	<xs:element name="LatitudeSecond">
		
	</xs:element>
	<xs:element name="LatitudeNpeerS">
	
	</xs:element>
	<xs:element name="LatitudeMinute">
		
	</xs:element>
	<xs:element name="LatitudeDegree">
		
	</xs:element>
	<xs:element name="GMTOffset">
		
	</xs:element>
	<xs:element name="CountryCode">
		
	</xs:element>
	<xs:element name="CountryAbbrviation">
		
	</xs:element>
	<xs:element name="Country">
		
	</xs:element>
	<xs:element name="CityOrAirportName">
		
	</xs:element>
	<xs:element name="AirportCode">
		
	</xs:element>
	<xs:element name="Airport">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TableAirport" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
