new/WebServiceServer/city.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by nam (nam) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="TableCity_Type">
        <xs:sequence>
            <xs:element ref="Country" type="xs:string"/>
            <xs:element ref="City" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TableCity" type="TableCity_Type"/>
    <xs:complexType name = "Cities_Type">
        <xs:sequence>
            <xs:element ref="TableCity" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Cities" type="Cities_Type"/>
</xs:schema>
