new/Client/src/META-INF/wsdl/localhost_18208/WeatherAirportWS/WeatherAirportWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WeatherAirport/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WeatherAirport/" name="WeatherAirportWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WeatherAirport/" schemaLocation="http://localhost:18208/WeatherAirportWS/WeatherAirportWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAirportInfoByCountry">
<part name="parameters" element="tns:getAirportInfoByCountry"/>
</message>
<message name="getAirportInfoByCountryResponse">
<part name="parameters" element="tns:getAirportInfoByCountryResponse"/>
</message>
<message name="CitiesOfCountry">
<part name="parameters" element="tns:CitiesOfCountry"/>
</message>
<message name="CitiesOfCountryResponse">
<part name="parameters" element="tns:CitiesOfCountryResponse"/>
</message>
<message name="getAirportInfoByCity">
<part name="parameters" element="tns:getAirportInfoByCity"/>
</message>
<message name="getAirportInfoByCityResponse">
<part name="parameters" element="tns:getAirportInfoByCityResponse"/>
</message>
<message name="GetWeatherOfCity">
<part name="parameters" element="tns:GetWeatherOfCity"/>
</message>
<message name="GetWeatherOfCityResponse">
<part name="parameters" element="tns:GetWeatherOfCityResponse"/>
</message>
<portType name="WeatherAirportWS">
<operation name="getAirportInfoByCountry">
<input wsam:Action="http://WeatherAirport/WeatherAirportWS/getAirportInfoByCountryRequest" message="tns:getAirportInfoByCountry"/>
<output wsam:Action="http://WeatherAirport/WeatherAirportWS/getAirportInfoByCountryResponse" message="tns:getAirportInfoByCountryResponse"/>
</operation>
<operation name="CitiesOfCountry">
<input wsam:Action="http://WeatherAirport/WeatherAirportWS/CitiesOfCountryRequest" message="tns:CitiesOfCountry"/>
<output wsam:Action="http://WeatherAirport/WeatherAirportWS/CitiesOfCountryResponse" message="tns:CitiesOfCountryResponse"/>
</operation>
<operation name="getAirportInfoByCity">
<input wsam:Action="http://WeatherAirport/WeatherAirportWS/getAirportInfoByCityRequest" message="tns:getAirportInfoByCity"/>
<output wsam:Action="http://WeatherAirport/WeatherAirportWS/getAirportInfoByCityResponse" message="tns:getAirportInfoByCityResponse"/>
</operation>
<operation name="GetWeatherOfCity">
<input wsam:Action="http://WeatherAirport/WeatherAirportWS/GetWeatherOfCityRequest" message="tns:GetWeatherOfCity"/>
<output wsam:Action="http://WeatherAirport/WeatherAirportWS/GetWeatherOfCityResponse" message="tns:GetWeatherOfCityResponse"/>
</operation>
</portType>
<binding name="WeatherAirportWSPortBinding" type="tns:WeatherAirportWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAirportInfoByCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CitiesOfCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAirportInfoByCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetWeatherOfCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WeatherAirportWS">
<port name="WeatherAirportWSPort" binding="tns:WeatherAirportWSPortBinding">
<soap:address location="http://localhost:18208/WeatherAirportWS/WeatherAirportWS"/>
</port>
</service>
</definitions>