new/Client/src/META-INF/wsdl/localhost_18208/WeatherAirportWS/WeatherAirportWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://WeatherAirport/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WeatherAirport/">

<xs:element name="CitiesOfCountry" type="tns:CitiesOfCountry"/>

<xs:element name="CitiesOfCountryResponse" type="tns:CitiesOfCountryResponse"/>

<xs:element name="GetWeatherOfCity" type="tns:GetWeatherOfCity"/>

<xs:element name="GetWeatherOfCityResponse" type="tns:GetWeatherOfCityResponse"/>

<xs:element name="getAirportInfoByAirportCode" type="tns:getAirportInfoByAirportCode"/>

<xs:element name="getAirportInfoByAirportCodeResponse" type="tns:getAirportInfoByAirportCodeResponse"/>

<xs:element name="getAirportInfoByCity" type="tns:getAirportInfoByCity"/>

<xs:element name="getAirportInfoByCityResponse" type="tns:getAirportInfoByCityResponse"/>

<xs:element name="getAirportInfoByCountry" type="tns:getAirportInfoByCountry"/>

<xs:element name="getAirportInfoByCountryResponse" type="tns:getAirportInfoByCountryResponse"/>

<xs:complexType name="getAirportInfoByCountry">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportInfoByCountryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetWeatherOfCity">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetWeatherOfCityResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CitiesOfCountry">
<xs:sequence>
<xs:element name="country" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CitiesOfCountryResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportInfoByAirportCode">
<xs:sequence>
<xs:element name="airport code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportInfoByAirportCodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportInfoByCity">
<xs:sequence>
<xs:element name="City" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAirportInfoByCityResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>