new/Client/xml-resources/jaxb/weather/weather.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Wind" type="xs:string"/>
	<xs:element name="Visibility" type="xs:string"/>	
	<xs:element name="Time" type="xs:string"/>
	<xs:element name="Temperature" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="SkyConditions" type="xs:string"/>
	<xs:element name="RelativeHumidity" type="xs:string"/>
	<xs:element name="Pressure" type="xs:string" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="DewPoint" type="xs:string"/>
	<xs:element name="CurrentWeather">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Location"/>
				<xs:element ref="Time"/>
				<xs:element ref="Wind"/>
				<xs:element ref="Visibility"/>
				<xs:element ref="SkyConditions"/>
				<xs:element ref="Temperature"/>
				<xs:element ref="DewPoint"/>
				<xs:element ref="RelativeHumidity"/>
				<xs:element ref="Pressure"/>
				<xs:element ref="Status"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
